.page-not-found{
    max-width: 913px;
    margin-right: auto;
    margin-left: auto;
}
.page-not-found .back-to-home{
    width: 165px;
height: 44px;
border-radius: 3px;
font-family: 'Josefin Sans';
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
background-color: #FF1493;
border: none;
}