@import '../../../../variables';
.page-not-found{
    max-width: 913px;
    margin-right: auto;
    margin-left: auto;
}
.page-not-found .back-to-home{
    width: 165px;
height: 44px;
border-radius: 3px;
font-family: $font-josefin;
font-size: 16px;
line-height: 26px;
color: $color-white3;
background-color: $color-pink3;
border: none;
}