@import '../../../../variables';
.discount-item{
    margin-top: 128px;
    max-width: 1214px;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
}
.discount-item .discount-heading{
    font-family: $font-josefin;
    font-size: 42px;
    line-height: 49px;
    color: $color-blue2;
    text-align: center;
    }
    .discount-item .types{
        display:flex ;
    gap: 30px;
    justify-content: center;
    }
    .discount-item .chair-type{
    font-family: $font-lato;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $color-blue2;
    margin: 0;
    }
    .discount-of-products{
        display: flex;
        justify-content: center;
    }
    .twenty-discount{
        padding-top: 111px;
    }
    .twenty-discount .discount-second-heading{
    font-family: $font-josefin;
    font-size: 35px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: $color-blue2;
    }
    .twenty-discount .pink-compact{
        font-family: $font-josefin;
    font-size: 21px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: $color-pink;
    }
    .twenty-discount .discount-paragraph{
        font-family: $font-lato;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: $color-grey9;
    }
    .twenty-discount .sofa-features{
    font-family: $font-lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: $color-grey10;
    display: grid;
    grid-template-columns: 240px 240px;
    padding-left: 25px;
    list-style-type: disclosure-open;
    }
    .twenty-discount .discount-button{
        background: $color-pink;
    border-radius: 2px;
    width: 200px;
    height: 57px;
    font-family: $font-josefin;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $color-white3;
    border: $color-white;
    }
    .discount-button:hover{
        background-color: #FF00FF;
    }