@import '../../../../variables';
.leatest-products{
    margin-top: 71px;
}
.leatest-products .product-heading{
    font-family: $font-josefin;
font-size: 42px;
line-height: 49px;
color: $color-blue2;
text-align: center;
}
.product-features {
    display: flex;
    gap: 60px;
    justify-content: center;
}
.product-features span{
    font-family: $font-lato;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: $color-blue2;
}
.sofa-types{
    display: grid;
    justify-content: center;
    grid-template-columns: 360px 360px 360px;
    gap: 37px;
    padding-top: 58px;
    row-gap: 120px;
}
