.newsletter{
    background-image:url("Rectangle 102 (2).png");
    max-width: 1920px;
    height: 462px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 126px;
}
.decoration{
    display: flex;
    flex-direction: column;
}
.decoration .subscribe-newsletter{
font-family: 'Josefin Sans';
font-size: 35px;
line-height: 155%;
text-align: center;
letter-spacing: 0.015em;
color: #151875;
justify-content: center;
padding-top: 174px;
margin: 0;
}
.decoration .newsletter-button{
    background: #FB2E86;
border-radius: 2px;
margin-right: auto;
margin-left: auto;
margin-top: 28px;
border: none;
text-align: center;
width: 173px;
height: 49px;
font-family: 'Josefin Sans';
font-size: 17px;
line-height: 20px;
letter-spacing: 0.02em;
color: #FFFFFF;
}