@import '../../../../variables';
.shopex-offer{
    margin-top: 141px;
}
.shopex-offer .offer-heading{
    font-family: $font-josefin;
font-size: 42px;
line-height: 26px;
color: $color-black;
text-align: center;
}
.shopex-offer .four-support{
    display: flex;
    justify-content: center;
}
.common-sofa{
    background: $color-white4;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}