@import '../../../../variables';
.ecommerce-business {
    max-width: 1150px;
    height: 409px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    gap: 30px;
    margin-top: 119px;
}
.business-history .fact-heading{
    font-family: $font-josefin;
font-size: 36px;
line-height: 48px;
color: $color-blue2;
margin: 0;
padding-top: 40px;
}
.business-history .fact-paragraph{
    font-family: $font-lato;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
color: $color-grey;
margin: 0;
padding-top: 14px;
}
.business-history .about-us-button{
    width: 145px;
height: 44px;
background: $color-pink;
border-radius: 3px;
font-family: $font-lato;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 26px;
color: #FFFFFF;
border: none;
margin-top: 60px;
}