@import '../../../../variables';
.leatest-blog{
    margin-top: 96px;
}
.leatest-blog .leatest-heading{
    font-family: $font-josefin;
font-size: 42px;
line-height: 49px;
color: $color-blue2;
text-align: center;
}
.leatest-blog .room-choices{
    display: flex;
    gap: 56px;
    justify-content: center;
}
