@import '../../../../variables';
.shopex-offer{
    margin-top: 62px;
}
.shopex-offer .offer-heading{
    font-family: $font-josefin;
font-size: 42px;
line-height: 49px;
color: $color-blue2;
text-align: center;
}
.shopex-offer .four-support{
    display: flex;
    justify-content: center;
}
.common-sofa{
    background: #F1F0FF;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}