@import '../../../../variables';
.room-type{
    background-size: auto;
}
.symbol-fact{
    display: flex;
    gap: 30px;
    margin: 0;
}
.symbol-fact .room-name{
    display: flex;
    gap: 8px;
}
.symbol-fact .room-date{
    display: flex;
    gap: 5px;
}
.symbol-fact .room-text{
    font-family: $font-josefin;
font-size: 14px;
line-height: 16px;
color: $color-blue2;
}
.room-name .vector-icon{
    width: 11px;
    height: 11px;
    padding-top: 16px;
}
.room-date .calendar-icon{
    width: 9px;
    height: 10px;
    padding-top: 15px;
}
.room-choices .essential-trends{
    font-family: $font-josefin;
font-size: 18px;
line-height: 21px;
color: $color-blue2;
margin: 0;
padding-top: 25px;
}
.room-choices .room-paragraph{
    font-family: $font-lato;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: $color-grey8;
margin: 0;
padding-top: 17px;
white-space: pre-line;
}
.room-choices .read-more{
    font-family: $font-lato;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
text-decoration-line: underline;
color: $color-blue2;
padding-top: 14px;
margin: 0;
}