@import '../../../../variables';
.information-contact{
    max-width: 1191px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    display: flex;
    gap: 117px;
    height: 225px;
}
.contact-us-part .information-first-heading{
    font-family: $font-josefin;
    font-size: 36px;
    line-height: 48px;
    color: $color-blue2;
    margin: 0;
}
.contact-us-part .information-paragraph{
    font-family: $font-lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: $color-grey;
    padding-top: 13px;
    margin: 0;
}
.contact-us-part .three-circle{
    padding-top: 50px;
}
.contact-way .way-heading{
    font-family: $font-josefin;
font-size: 36px;
line-height: 48px;
color: $color-blue2;
margin: 0;
}
.circle-contact{
    display: grid;
    grid-template-columns: 237px 237px;
    gap: 37px;
    row-gap: 49px;
    margin-top: 26px;
}

