.detail-heading{
    max-width: 1920px;
    height: 286px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F6F5FF;
}
.page-navbar{
    padding: 96px 0 126px 370px;
}
.page-navbar .detail-text{
    font-family: 'Josefin Sans';
font-size: 36px;
line-height: 42px;
color: #101750;
margin: 0;
}
.page-navbar span{
    font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #000000;
margin: 0;
padding-top: 9px;
}