@import '../../../../variables';
.product-box-detail .fashion-wear{
    font-family: $font-josefin;
    font-size: 16px;
    line-height: 19px;
    color: $color-blue2;
    margin: 0;
    padding-top: 20px;
}
.product-box-detail .product-dollar-value{
    font-family: $font-josefin;
font-size: 13px;
line-height: 15px;
color: $color-blue2;
padding-top: 15px;
margin: 0;
}