.top-categories{
    margin-top: 79px;
}
.top-categories .top-heading{
    font-family: 'Josefin Sans';
font-size: 42px;
line-height: 49px;
color: #151875;
text-align: center;
}
.chair-choices{
    display: flex;
    gap:39px;
    justify-content: center;
    margin: 0;
    padding-top: 56px;
}
.lcwchair{
    width: 269px;
    height: 269px;
}
.chair-box .mini-chair{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #151875;
text-align: center;
}
.chair-box .value-dolar{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #151875;
text-align: center;
}