@import '../../../../variables';
.furniture-collection{
    background: $color-white11;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}
.pink-sofa{
    display: flex;
    gap: 32px;
    justify-content: center;
}
.pink-sofa .lampa{
    height: 387px;
}
.best-furniture{
    padding-top: 203px;
    margin-top: 0;
    margin-left: -60px;
}
.best-furniture .castle{
    font-family: $font-lato;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: $color-pink;
    margin: 0;
}
.best-furniture .explanation{
    font-family: $font-josefin;
font-size: 53px;
line-height: 70px;
letter-spacing: 0.015em;
color: $color-black;
margin: 0;
padding-top: 12px;
}
.best-furniture .text{
    font-family: $font-lato;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: $color-grey;
    margin: 0;
    padding-top: 12px;
}
.best-furniture .buy-now{
    background: $color-pink;
border-radius: 2px;
font-family: $font-josefin;
font-size: 17px;
line-height: 20px;
letter-spacing: 0.02em;
color: $color-white3;
border-color: $color-white;
margin: 0;
margin-top: 27px;
width: 163px;
height: 50px;
}