.tick-order{
    max-width: 1138px;
   height: 423px;
   margin-right: auto;
   margin-left: auto;
   margin-top: 181px;
}
.tick-order .order-heading{
    font-family: 'Josefin Sans';
font-size: 36px;
line-height: 42px;
text-align: center;
color: #101750;
margin: 0;
}
.tick-order .order-paragraph{
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
text-align: center;
color: #8D92A7;
padding-top: 28px;
margin: 0;
}
.tick-order .continue-shopping{
    background: #FF1788;
border-radius: 3px;
border: none;
width: 208px;
height: 59px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
padding-top: 30px;
}