@import '../../../../variables';
.tick-order{
    max-width: 1138px;
   height: 423px;
   margin-right: auto;
   margin-left: auto;
   margin-top: 181px;
}
.tick-order .order-heading{
    font-family: 'Josefin Sans';
font-size: 36px;
line-height: 42px;
text-align: center;
color: $color-blue;
margin: 0;
}
.tick-order .order-paragraph{
    font-family: $font-lato;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
text-align: center;
color: $color-grey5;
padding-top: 28px;
margin: 0;
}
.tick-order .continue-shopping{
    background: $color-pink2;
border-radius: 3px;
border: none;
width: 208px;
height: 59px;
font-family: $font-lato;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
text-align: center;
color: $color-white3;
padding-top: 30px;
}