.additional-info-frame{
    max-width: 1920px;
    height: 649px;
    margin-right: auto;
    margin-left: auto;
    background: #F9F8FE;
    margin-top: 131px;
}
.additional-info{
   padding-left: 374px;
    padding-top: 111px;
}
.description-navbar{
    display: flex;
    gap: 70px;
}
.description-navbar .navbar-paragraph{
    font-family: 'Josefin Sans';
font-size: 24px;
line-height: 28px;
color: #151875;
}
.additional-info .info-heading{
    font-family: 'Josefin Sans';
    font-size: 22px;
    line-height: 26px;
    color: #151875;
    margin: 0;
    padding-top: 61px;
}
.additional-info .info-paragraph{
    font-family: 'Josefin Sans';
    font-size: 16px;
    line-height: 29px;
    color: #A9ACC6;
    margin: 0;
    padding-top: 14px;
}
.additional-info .more-details{
    font-family: 'Josefin Sans';
    font-size: 22px;
    line-height: 26px; 
    color: #151875;
    margin: 0;
    padding-top: 36px;
}
.arrow-fact{
    display: flex;
    gap: 8px;
    padding-top: 15px;
    height: 24px;
}
.arrow-fact .arrow-paragraph{
    font-family: 'Josefin Sans';
    font-size: 16px;
    line-height: 29px;
    color: #A9ACC6;
    margin-top: -1px;
}
.arrow-fact .arrow-icon{
    width: 24px;
    height: 24px;
}