@import './../../variables';
.footer{
    margin-top: 115px;
}
.footer-up{
    background: $color-white5;
    max-width: 1920px;
    margin-right:auto;
    margin-left: auto;
    height: 479px;
}
.footer-one-common{
    display: flex;
    padding-top: 94px;
    gap: 90px;
    padding-left: 310px;
    row-gap: 21px;
}
.footer-one .footer-first-heading{
    font-family: $font-josefin;
font-size: 38px;
line-height: 45px;
color: $color-black;
}
.email-sign-up .email-adress{
    width: 377px;
    height: 44px;
    font-family: $font-lato;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: $color-grey;
padding-left: 20px;
position: absolute;
}
.email-sign-up .footer-sign-up{
    background: $color-pink;
border-radius: 3px;
font-family: $font-roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: $color-white5;
width: 135px;
height: 44px;
border-color: $color-white5;
position: relative;
margin: 2px 0 0 266px;
}
.footer-one .contact-info{
    font-family: $font-lato;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: $color-grey;
}
.footer-one .hekto-adress{
    font-family: $font-lato;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: $color-grey;
}
.footer-one .footer-categories{
font-family: $font-josefin;
font-size: 22px;
line-height: 26px;
color: $color-black;
}
.footer-one .footer-link{
    font-family: $font-lato;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 2.8;
color: $color-grey;
text-decoration: none;
}
.footer-down{
    background: $color-white6;
    max-width: 1920px;
    margin-right:auto;
    margin-left: auto;
}
.footer-two .all-rights{
    font-family: $font-lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $color-grey3;
    padding-left: 377px;
}
.footer-two{
    display: flex;
    gap: 660px;
}
.media-logos{
    display: flex;
    gap: 17px;
}
.media-logos img{
    width: 20px;
    height: 20px;
    padding-top: 17px;
}