$font-josefin: 'Josefin Sans';
$font-lato: 'Lato';
$font-roboto:'Roboto';
$color-black: #000000;
$color-violin:#3F509E;
$color-violin2:#7E33E0;
$color-input-white: #CDCEDC;
$color-clear-white:#E7E6EF;
$background-white: #F6F5FF;
$background-white2:#F8F8FD;
$color-white:white;
$color-white2: #FBFBFF;
$color-white3: #FFFFFF;
$color-white4:#F1F0FF;
$color-white5:#EEEFFB;
$color-white6:#E7E4F8;
$color-white7:#F1F1F1;
$color-white8:#F8F8FB;
$color-white9:#F9F8FE;
$color-white10:#F6F4FD;
$color-white11:#F2F0FF;
$color-white12:#FFF6FB;
$color-white-grey:#C2C5E1;
$color-pink:#FB2E86;
$color-pink2:#FF1788;
$color-pink3:#FF1493;
$color-pink4:#FB2E86;
$color-pink5:#FF2AAA;
$color-grey: #8A8FB9;
$color-grey2: #A1ABCC;
$color-grey3:#9DA0AE;
$color-grey4:#9096B2;
$color-grey5:#8D92A7;
$color-grey6:#A9ACC6;
$color-grey7:#9295AA;
$color-grey8:#72718F;
$color-grey9:#B7BACB;
$color-grey10:#B8B8DC;
$color-grey11:#ACABC3;
$color-blue: #101750;
$color-blue2: #151875;
$color-blue3: #1D3178;
$color-blue4:#0D134E;
$color-blue5:#111C85;
$color-blue6:#1A0B5B;
$color-blue7:#00008B;
$color-red: #FB2448;
$color-green:#00FFFF;
