@import '../../../../variables';
.get-in-touch{
    display: flex;
    max-width: 1275px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    gap: 16px;
}
.touch-answer .touch-heading{
    font-family: $font-josefin;
    font-size: 36px;
    line-height: 48px;
    color: $color-blue2;
    margin: 0;
}
.touch-answer .touch-paragraph{
    font-family: $font-lato;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
color: $color-grey;
padding-top: 20px;
margin: 0;
}
.name-email{
    display:flex;
    gap: 24px;
    padding-top: 46px;
}
.touch-answer .touch-input{
    border: 1px solid rgba(164, 182, 200, 0.7);
border-radius: 3px;
padding-left: 11px;
font-family: $font-lato;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.01em;
color: $color-grey;
}
.touch-answer .touch-send{
    background: $color-pink;
border-radius: 3px;
width: 157px;
height: 44px;
font-family: $font-josefin;
font-size: 16px;
line-height: 26px;
color: $color-white3;
border: none;
margin-top: 33px;
}